@import '~@angular/material/theming';
$mint: (
  50: #3cb371,
  100: #46b778,
  200: #50bb7f,
  300: #63c28d,
  400: #6dc694,
  500: #77ca9c,
  600: #80cea3,
  700: #8ad1aa,
  800: #94d5b1,
  900: #9ed9b8,
  A100: #a7ddbf,
  A200: #b1e1c6,
  A400: #bbe4cd,
  A700: #c4e8d4,
  contrast: (
    50: #ceecdc,
    100: #d8f0e3,
    200: #e2f4ea,
    300: #ecf7f1,
    400: #f5fbf8,
    500: #ffffff,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
//https://material.io/resources/color/ to find colors
//http://mcg.mbitson.com/ to generate code for custom color
$warn: (
  50 : #f3e0e0,
  100 : #e0b3b3,
  200 : #cc8080,
  300 : #b84d4d,
  400 : #a82626,
  500 : #990000,
  600 : #910000,
  700 : #860000,
  800 : #7c0000,
  900 : #6b0000,
  A100 : #ff4e7c,
  A200 : #ff114f,
  A400 : #f70040,
  A700 : #e8003c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$custom-blue: (
  50 : #e1eff7,
  100 : #b3d6eb,
  200 : #81bbde,
  300 : #4ea0d1,
  400 : #288bc7,
  500 : #0277bd,
  600 : #026fb7,
  700 : #0164ae,
  800 : #015aa6,
  900 : #014798,
  A100 : #71c9ff,
  A200 : #34b1ff,
  A400 : #1aa7ff,
  A700 : #0ba2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,)
);
$custom-blue-secondary: (
  50 : #e0f2fc,
  100 : #b3def9,
  200 : #80c8f5,
  300 : #4db2f0,
  400 : #26a2ed,
  500 : #0091ea,
  600 : #0089e7,
  700 : #007ee4,
  800 : #0074e1,
  900 : #0062db,
  A100 : #b0ddff,
  A200 : #73c2ff,
  A400 : #59b7ff,
  A700 : #4ab0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$dark-mint: (
  50: #2e8b57,
  100: #38915f,
  200: #439768,
  300: #4d9c70,
  400: #58a279,
  500: #62a881,
  600: #6dae89,
  700: #77b492,
  800: #82b99a,
  900: #8cbfa3,
  A100: #96c5ab,
  A200: #a1cbb3,
  A400: #abd1bc,
  A700: #b6d6c4,
  contrast: (
    50: #c0dccd,
    100: #cbe2d5,
    200: #d5e8dd,
    300: #e0eee6,
    400: #eaf3ee,
    500: #f5f9f7,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$dark-grey-blue: (
  50: #2f4f4f,
  100: #395858,
  200: #446161,
  300: #4e6969,
  400: #597272,
  500: #637b7b,
  600: #6d8484,
  700: #788d8d,
  800: #829595,
  900: #8d9e9e,
  A100: #97a7a7,
  A200: #a1b0b0,
  A400: #acb9b9,
  A700: #b6c1c1,
  contrast: (
    50: #c1caca,
    100: #cbd3d3,
    200: #d5dcdc,
    300: #e0e5e5,
    400: #eaeded,
    500: #f5f6f6,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
