:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  height: 60px;
  margin: 0px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.custom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}










