<div class="home">
  <app-exercise-filter
    [exercises]="exercises"
    [availableUsers]="availableUsers"
    [dataDateRange]="dataDateRange"
    [displayedDateRange]="displayedDateRange"
    [resultCount]="filteredData.length"
    (filterChange)="onFilterChange($event)">
  </app-exercise-filter>
  <mat-tab-group>
    <mat-tab label="Performance Leaderboard">
      <ng-template matTabContent>
        <app-stats-aggregate-table [data]="filteredData"></app-stats-aggregate-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Performance Trend">
      <ng-template matTabContent>
        <app-stats-aggregate-linechart [data]="filteredData"></app-stats-aggregate-linechart>
      </ng-template>
    </mat-tab>
    <mat-tab label="Performance Detail">
      <app-stats-table [data]="filteredData"></app-stats-table>
    </mat-tab>
    <mat-tab label="Daily Summary">
      <ng-template matTabContent>
        <app-stats-daily-summary [data]="filteredData"></app-stats-daily-summary>
      </ng-template>
    </mat-tab>
    <mat-tab label="Records & Streaks">
      <ng-template matTabContent>
        <app-stats-personal-records [data]="filteredData"></app-stats-personal-records>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
