@import '~@angular/material/theming';

@mixin app-analytics-page($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-tab-group {
    .mat-tab-label {
      color: mat-color($foreground, secondary-text);
      opacity: 1;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      min-width: 120px;

      &.mat-tab-label-active {
        color: mat-color($accent);
        font-weight: 600;
      }
    }

    .mat-tab-header {
      border-bottom: 2px solid mat-color($foreground, divider);
    }

    .mat-ink-bar {
      height: 3px;
      background-color: mat-color($accent) !important;
    }
  }

  .panel {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -8px;
    flex: 0 0 50%;
    width: 90vw;
    max-width: 968px;
    -webkit-box-flex: 0;
    box-sizing: border-box;
  }
}
