@import '~@angular/material/theming';

@mixin app-leaderboard-table-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .leaderboard-table {
    @include mat-elevation(2);
    background-color: mat-color($accent);
  }
  table {
    width: 100%;
  }
  .toolbar {
    background-color: mat-color($accent)
  }
  .search-icon-center {
    padding-top: 8px;
  }
}


