@import '~@angular/material/theming';

@mixin app-main-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-app-background{
    height: 100vh;
    width: 100vw;
    color: mat-color($foreground, text);
  }

  .logo-text-border {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
    border-radius: 4px;
    border: 1px solid mat-color($foreground, divider);
    height: 16px;
    margin: 32px;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .logo-img {
    object-fit: cover;
    border-radius:50%;
    width: 15vh;
    height: 15vh;
    max-height: 100px;
    max-width: 100px;
    border: 1px solid mat-color($foreground, divider);
    margin-right: 5px;
    margin-left: -26px;
  }

  a {
    color: mat-color($accent);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    color: mat-color($foreground, secondary-text);
  }

  footer a {
    display: flex;
    align-items: center;
    color: mat-color($accent);
  }
}

