<table mat-table [dataSource]="exercises" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns ">
    <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
    <td mat-cell *matCellDef="let element" [width]="column.key === 'exerciseSummary' ? '200px' : ''">
      <p *ngIf="column.key != 'creationDate' && column.key != 'Edit'">{{element[column.key]}}</p>
      <p *ngIf="column.key == 'creationDate'">{{element[column.key].seconds * 1000 | date:'MM/dd/yyyy'}}</p>
      <div *ngIf="column.key == 'Edit'" class="action-link">
        <button mat-raised-button (click)="openDialog('Update',element)">Edit</button> |
        <button mat-raised-button (click)="openDialog('Delete',element)">Delete</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
<button mat-raised-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Exercise</button>

