.spacer {
    flex: 1 1 auto;
  }
  .toolbar {
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .mat-dialog-actions {
    padding: 1em;
  }
  .mat-form-field {
    width:100%;
  }
  .sign-in-button {
    background-color: #1976d2;
    color: white;
  }
.center {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
