<div class="filter-bar">
  <mat-form-field appearance="outline">
    <mat-label>Exercise</mat-label>
    <mat-select [(value)]="selectedExerciseId" (selectionChange)="onFilterChange()">
      <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
        {{exercise.exerciseName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Users</mat-label>
    <mat-select multiple [(value)]="selectedUserIds" (selectionChange)="onFilterChange()">
      <mat-option *ngFor="let user of availableUsers" [value]="user">
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker"
           [(ngModel)]="startDate"
           (dateChange)="onFilterChange()"
           [min]="dataDateRange?.min"
           [max]="endDate || dataDateRange?.max">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker"
           [(ngModel)]="endDate"
           (dateChange)="onFilterChange()"
           [min]="startDate || dataDateRange?.min"
           [max]="dataDateRange?.max">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <button mat-icon-button matTooltip="Clear filters" (click)="clearFilters()" *ngIf="hasActiveFilters">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="filter-summary" *ngIf="displayedDateRange">
  <span class="result-count">{{resultCount}} results</span>
  <span class="date-range">
    {{displayedDateRange.min | date:'mediumDate'}} &ndash; {{displayedDateRange.max | date:'mediumDate'}}
  </span>
</div>
