/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snackbar-pass {
    color: #5cb85c !important;
  }
.snackbar-fail {
    color: #ac2925 !important;
  }
.user-registration-snackbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}
.mat-dialog-container { 
  padding: 0 !important;
  overflow: hidden;
}