@import '~@angular/material/theming';

@mixin home-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background);

  .home {
    @include mat-elevation(24);
    background-color: mat-color($background);
  }

}
